.pushlishInfo-title {
  font-weight: 500;
}

.preview-content {
  position: relative;
  width: auto;
  height: 200px;
  border: 1px solid #ccc;
}

.preview-content > video {
  width: 100%;
  height: 100%;
}

.preview-action {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.1);
  z-index: 1;
}

.preview-info {
  opacity: 0;
  color: #000;
  font-size: 8px;
  font-weight: 400;
  line-height: 1;
}

.preview-video-action {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  /* font-weight: 400; */
  font-size: 10px;
  /* height: 100%; */
  background-color: rgba(0,0,0,.5);
}

.col-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.preview-roomInfo {
  font-weight: 500;
}

#roomInfo-id {
  display: inline-block;
  font-weight: normal;
}

#roomInfo-state {
  display: inline-block;
  font-weight: normal;
}


.logger-wrapper {
  margin-top: 20px;
  width: 100%;
  height: 250px;
  background-color: #ccc;
  color: rgb(252, 250, 250);
  overflow: scroll;
}

.btn-wrapper {
  display: flex;
  width: 100%;
  background-color: rgb(252, 250, 250);
  border-radius: 10px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.action-step {
  margin: 10px 0;
}

.action-content {
  width: 100%;
  background-color: rgb(252, 250, 250);
  border-radius: 10px;
  padding: 10px;
  min-height: 250px;
}

.action-title {
  font-weight: 700px;
  color: black;
}
.action-info {
  font-size: 14px;
}

.cuBtn {
  display: block;
  padding: 0 12px;
  font-size: 13px;
  cursor: pointer;
  height: 30px;
  width: 95%;
}

.action-room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.form-wrap {
  margin: 6px 0;
}
.form-wrap .form-item {
  display: flex;
}
.form-wrap .form-item input {
  flex: 1;
}

.login-wrapper {
  padding: 15px;
  background-color: #fff;
}
.login-desc {
  font-size: 14px;
}
.icon-question {
  display: inline-block;
  text-align: center;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0575ff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
/* Tooltip text */
.icon-question .pop-box {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  box-shadow: 0 0 10px #dfdfdf;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 3;
  font-weight: 100;
  font-size: 12px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.icon-question:hover .pop-box {
  visibility: visible;
}

.f-b-5 {
  flex-basis: 50%;
}
.f-b-3 {
  flex-basis: 33.3%;
}
.t-a-r {
  text-align: right;
}
.drop-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 5px;
}
.t-nowrap {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}




.videoQuality {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

input {
  width: 40% ;
  height: 21px ;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: #495057;
}

.publish-setting {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.publish-check {
  /* flex-basis: 50%; */
  display: flex;
  justify-content: space-around;
}

.check-wrappre {
  /* flex-basis: 50%; */
  text-align: center;
  display: flex;
  align-items: center;
}

.check-input {
  display: inline-block;
  width: auto !important;
  height: auto !important;
}

select {
  width: 45% !important;
  height: 21px !important;
  min-height: 10px !important;
  padding: 0 !important;
  font-size: 12px !important;
}

.select-wrapper {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

option {
  height: 21px !important;
  font-size: 14px;
}

.flex-c {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.configBtn {
  width: 50%;
}

.form-control-range {
  display: inline-block;
  width: auto;
}

#VolumeValue {
  width: 20px;
}

.Monitor {
	display: flex;
	align-items: center;
}

.Monitor > input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.Monitor > label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: inline-block;
	border-radius: 100px;
	position: relative;
	margin-bottom: 0;
}

.Monitor > label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 100%;
	transition: 0.3s;
}

.Monitor > input:checked + label {
	background: #009efb;
}

.Monitor > input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.Monitor > label:active:after {
	width: 23px;
}

@media (max-width: 375px) {
  .preview-playInfo {
    margin-top: 0 !important;
  }
  .configBtn {
    width: 90%;
  }
}