.pushlishInfo-title {
    font-weight: 500;
  }
  
  .preview-content {
    width: auto;
    height: 200px;
    border: 1px solid #ccc;
  }
  
  .preview-content > video {
    width: 100%;
    height: 100%;
  }
  .preview-roomInfo {
    font-weight: 500;
  }
  
  #roomInfo-id {
    display: inline-block;
    font-weight: normal;
  }
  
  #roomInfo-state {
    display: inline-block;
    font-weight: normal;
  }
  
  
  .logger-wrapper {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background-color: #ccc;
    color: rgb(252, 250, 250);
    overflow: scroll;
  }
  
  .btn-wrapper {
    display: flex;
    width: 100%;
    background-color: rgb(252, 250, 250);
    border-radius: 10px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .action-step {
    margin: 10px 0;
  }
  
  .action-content {
    width: 100%;
    background-color: rgb(252, 250, 250);
    border-radius: 10px;
    padding: 10px;
  }
  
  .action-title {
    font-weight: 700px;
    color: black;
  }
  .action-info {
    font-size: 14px;
  }
  
  .cuBtn {
    display: block;
    padding: 0 12px;
    font-size: 13px;
    cursor: pointer;
    height: 30px;
    width: 95%;
  }
  
  .action-room {
    padding-bottom: 15px;
  }
  .action-room > div + div {
    margin-top: 4px;
  }
  .icon-question {
    display: inline-block;
    text-align: center;
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0575ff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  /* Tooltip text */
  .icon-question .pop-box {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    box-shadow: 0 0 10px #dfdfdf;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-weight: 100;
    font-size: 12px;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .icon-question:hover .pop-box {
    visibility: visible;
  }
  
  .f-b-3 {
    flex-basis: 30%;
  }
  
  .f-b-7 {
    flex-basis: 70% !important;
  }
  
  input {
    width: 40%;
    height: 21px ;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
  }
  
  .w-70 {
    width: 70%;
  }
  
  .publish-setting {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  
  .publish-check {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  .check-wrappre {
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .check-input {
    display: inline-block;
    width: auto !important;
    height: auto !important;
  }
  
  select {
    width: 45% !important;
    height: 21px !important;
    padding: 0 !important;
    font-size: 12px !important;
  }
  
  .select-wrapper {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  option {
    height: 21px !important;
    font-size: 14px;
  }

  .mirror{
    transform: scale(-1,1);
  }
  
  @media (max-width: 375px) {
    .preview-playInfo {
      margin-top: 0 !important;
    }
  }